.movie-padding {
    padding: 30px;
    text-align: center;
}

.movie-padding:hover {
    background-color: #131617;
}

.movie-title {
    vertical-align: top;
    font-size: 26px;
    font-weight: bold;
    cursor: pointer;    
    display: inline-block;
}

.movie-rating {
    display: inline-block;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}